<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- start script template tags -->
    <script type="text/javascript" src="./../bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="./../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="./../assets/js/min/script.min.js"></script>
    <!-- end script template tags -->
    <!-- start css template tags -->
    <link rel="stylesheet" type="text/css" href="./../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="./../bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="./../assets/css/min/style.min.css" media="screen"/>
    <!-- end css template tags -->
  </head>
  <body>

  </body>
</html>
